body {
  margin: 0px;
}
#root {
  box-sizing: border-box;
}
.container {
  padding: 20px 50px;
  box-sizing: border-box;
}
.header {
  padding: 20px 0;
  margin: 0;
  font-size: 35px;
  font-weight: 600;
}
.location-input-box {
  width: 300px;
  height: 35px;
  margin: 0px;
}
.location-input-field {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 5px 10px;
  outline: none;
}
.suggestions-box {
  box-sizing: border-box;
  border: 1px dashed black;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
  position: absolute;
  background: burlywood;
  width: 300px;
}
.suggestion {
  border: 1px dashed black
}
section {
  padding: 20px 0;
  margin: 0;
}
.weather-report {
  border: 1px dashed black;
}